body {
  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
html {
  min-height:100%;
}

#content{
  color: rgba(255, 255, 255, .4);
  text-align: center;
  background-color: rgba(0,0,0,.4);
  padding: 10%;
  border-radius: 20px;
  margin: 20px;
}

h1 {
  font-weight: 700px;
  color: rgba(255, 255, 255, .8);
}

#temp {
  font-size: 4em;
  color: rgba(255, 255, 255, .8);
}

p#highLow{
  font-size: 2em;
  color: rgba(255, 255, 255, .8);
}

#content > i{
  color: rgba(255, 255, 255, .8);
  font-size: 4em;
  margin: 15px;
}
h3{
  padding: 10px;
}

.morning {
  background: #FFA17F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}
.afternoon {
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.evening {
  background: #de6161;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.night {
  background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
button {
  background: rgba(255,255,255,.1);
  border: none;
  outline: none;
  margin: 2px;
  padding: 10px;
  width: 120px;
}
#wind,#atmosphere,#forecast{
  margin: 10px;
  padding: 10px;
  font-size: 2em;
}
p {
    margin: 10px 20px 10px;
}

#forecast div{
  background: rgba(255, 255, 255, .1);
}
h4 {
  margin-bottom: 2px;
}


